html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    background-color: teal;
    color: white;
    padding: 12px 32px;
    font-weight: 500;
}

h1 {
    font-weight: 300;
}

#content {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #content td, #content th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #content tr:nth-child(even){background-color: #f2f2f2;}
  
  #content tr:hover {background-color: #ddd;}
  
  #content th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;

  }
  input[type=text], select {
    width: 19%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: large;
  }
  input[type= number ], select {
    width: 19%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: large;
  }
  input[type=submit] {
    width: 15%;
    background-color: #4cacaf;
    color: black;
    padding: 14px 20px;
    margin: 0 8px;
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer;
    box-sizing:border-box;
    text-color: black;
    font-size: 25px;
  
 
    
    

  }
  
  input[type=submit]:hover {
    background-color: #4592a0;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
th, td {
    padding: 15px;
    text-align: left;
  }
  table {
    width: 100%;
  }